* {
margin: 0;
padding: 0;
}
nav {
float: left;
background:darkgray;
}
main {
background:lightgray;
}
footer {
background:gray;
clear: both; /* в данном случае можем использовать и 'clear: left'*/
}
h1 {
font-family: 'Denk One', sans-serif;
}